<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ./partials/head.ejs %>
  <body>
      <%- include ./partials/navBar %>
      <div class="container">
        <div class="row mt-4 pt-5">
              <div class="col-8 mx-auto border border-white shadow-lg p-4 bg-white rounded mt-4">
                 <h3 class="text-center">Add Location</h3>
                 <%- include ./partials/flashMessage.ejs %>
                 <% if( locations.length > 0){%>
                     <%locations.forEach(function(location){%>
                       <div class='pt-2 container border'>
                         <div class="row align-items-center">
                             <div class="col-4">
                                <%=location.address%>
                              </div>
                             <div class="col-2">
                                <span> Lon:</span>
                                <span><%=location.coordinate.coordinate[0].toString().substring(0,6)%></span>
                              </div>
                             <div class="col-2 ">
                                  <span>Lat:</span>
                                  <span><%=location.coordinate.coordinate[1].toString().substring(0,6)%></span>
                             </div>
                             <div class="col-1">
                               <a href="/editLocation/<%=location.id%>">
                                 <i class="fas fa-edit text-primary" data-toggle="tooltip" data-placement="top" title="Edit this location in map"></i>
                               </a>
                             </div>
                             <div class='col-1'>
                               <a href="/deleteLocation/<%=location.id%>" onclick="return confirm('Are you sure you want to delete the location?');">
                                 <i class="fas fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="Delete this location"></i>
                               </a>
                             </div>
                             <div class="col-1">
                               <%if(location.home){%>
                                 <a disabled="disabled">
                                   <i class="fas fa-home text-success" data-toggle="tooltip" data-placement="top" title="This is your home location"></i>
                                 </a>
                               <%}else{%>
                                 <a href="/addHome/<%=location.id%>">
                                   <i class="fas fa-home text-secondary" data-toggle="tooltip" data-placement="top" title="Add this location as your home location"></i>
                                 </a>
                               <%}%>
                             </div>
                         </div>
                       </div>
                     <%})%>
                 <%}%>
                 <form class="pt-4" action="/addLocation" method="post">
                   <%- include ./partials/csrfToken.ejs%>
                   <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">Address:</label>
                      <div class="col-sm-10">
                        <input name="address" type="text" class="form-control" id="address" placeholder="Ward, City, Country" required>
                      </div>
                   </div>
                   <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                 </form>
              </div>
        </div>
      </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&libraries=places"></script>
  <script>
      new google.maps.places.Autocomplete(document.getElementById('address'));
  </script>
</html>
