<!DOCTYPE html>
<html>
  <%- include ./partials/head.ejs %>
  <body>
    <%- include ./partials/navBar %>
    <div class="container-fluid justify-content-center">
        <div class="row justify-content-center">
          <div class="col-4">
            <%- include ./partials/flashMessage.ejs %>
          </div>
        </div>
    </div>
    <div class="container">

      <div class="row mt-4">

            <!--locations-->
            <div class="col-2 border mr-2 shadow p-3 mb-5 bg-white rounded">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h3>Locations</h3>
                <hr>
                <% if(locationsDetails => 0 ){%>
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                  <%  locationsDetails.forEach(function(locationDetail, index){%>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/locationNews/?lat=<%=locationDetail.lat%>&lon=<%=locationDetail.lon%>"                 
                      role="tab" aria-controls="v-pills-profile" aria-selected="false">
                      <%=locationDetail.locationName%>
                    </a>
                  <%});%>
                <%}else{%>
                  <span class="font-italic pb-2">Add Locations to get News </span>
                <%}%>
                <button href="#" class="btn btn-light">Add location</button>
              </div>
            </div>

            <!-- #the window with the news -->
            <div class="col-6 border mr-2 shadow p-3 mb-5 bg-white rounded">

            </div>

            <!-- #the window with the adverts -->
            <div class="col-3 border mr-2 shadow p-3 mb-5 bg-white rounded">
                <!-- #adds window -->
            </div>
      </div>

    </div>
  </body>
</html>
