<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ./partials/head.ejs %>
  <body>
      <%- include ./partials/navBar %>
      <!--Flash Div  -->
      <div class="container-fluid justify-content-center">
          <div class="row justify-content-center">
            <div class="col-4">
              <%- include ./partials/flashMessage.ejs %>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row mt-4">
              <div class="col-12 border mb-5">

                  <!-- the name of the user and profile -->
                  <div class="col-12 mt-2">
                      <img src="#" alt="..." class="img-thumbnail rounded-circle">
                      <span class=""><%= news.user.firstName%> <%= news.user.lastName%></span>
                      <span class="float-right"><%= moment(news.createdAt).fromNow()%></span>
                  </div>

                  <!--showing the title -->
                  <div class="col-12 mt-2">
                    <div class="row justify-content-center">
                      <span class="font-weight-bold"><%= news.title%></span>
                    </div>
                  </div>
                  <hr/>

                  <!-- The media frame -->
                  <div class="col-12">

                  </div>
                  <!--the text of the news  -->
                  <div class="col-12 mt-2">
                      <div>
                        <%= news.text%>
                      </div>
                  </div>
                  <hr/>

                  <!--The container of the agree and disagree buttons  -->
                  <div class="col-12 mt-2">
                      <div class="row pl-3 border-bottom pb-2">
                        <div class="col-2">
                          <%
                            newsId=news.id;
                            var resultForAgree = req.user.agrees.findIndex(function(id){
                                result = id==newsId;
                                return result;
                            });
                            if(resultForAgree!==-1){
                              //had previously agreed
                              var urlForThumbUp = "/news/neutral/"+newsId;
                            }else{
                              //has not previously agreed
                              var urlForThumbUp="/news/agree/"+newsId;
                            }
                          %>
                          <a href="<%=urlForThumbUp%>">
                            <i class="fas fa-thumbs-up fa-lg faa-vertical" data-toggle="tooltip" data-placement="top" title="Do you agree?.">
                            </i>
                          </a>
                          <span class="votingText">
                              <%=news.agreeNo%>
                          </span>
                        </div>
                        <div class="col-2">
                          <%
                            var resultForDisagree = req.user.disagrees.findIndex(function(id){
                              result = id==newsId;
                              return result;
                            });
                            if(resultForDisagree!==-1){
                              //had previously disagreed
                              var urlForThumbDown = "/news/neutral/"+newsId;
                            }else{
                              //has not previously disagreed
                              var urlForThumbDown="/news/disagree/"+newsId;
                            }
                          %>
                          <a href="<%=urlForThumbDown%>">
                            <i class="far fa-thumbs-down fa-lg" data-toggle="tooltip" data-placement="top" title="Do you disagree?">
                            </i>
                          </a>
                          <span class="votingText">
                            <%=news.disagreeNo%>
                          </span>
                        </div>
                      </div>
                  </div>
                  <hr/>

                  <!-- Comments Wraper -->
                  <div class="col-12 mt-2">

                      <div class="col-12 pl-0">
                        <h6>
                          <span id="commentNo" class="font-weight-bold"><%=news.commentsNo%></span>
                          <span>Comments</span>
                        </h6>
                      </div>

                      <div class="form-group row">
                        <img src="#" alt="..." class="img-thumbnail rounded-circle">
                        <div class="col-9">
                          <input type="hidden" value="<%=newsId%>" id="newsId">
                          <%- include ./partials/csrfToken.ejs%>
                          <input type="text" class="form-control" id="comment" placeholder="Comment">
                        </div>
                        <button class="btn btn-sm btn-secondary" id="commentBtn" disabled onclick="commenting()">
                          <span hidden id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Comment
                        </button>
                      </div>

                      <!-- Comments -->
                      <div class="col-12 pl-0" id="commentUpperWrapper">
                          <%if(news.comments.length > 0){%>
                              <%news.comments.forEach(function(comment, index){%>

                                <div class="row mt-2 p-2 border-bottom" id="commentsWrapper">
                                      <div class="mr-1">
                                        <!-- the profile pic of the user -->
                                        <img src="#" alt="..." class="img-thumbnail rounded-circle">
                                      </div>

                                      <div class="col">
                                        <div class="d-flex flex-column">
                                            <!-- Name and Time -->
                                            <div class="pb-3">
                                              <span class="font-weight-bold"><%= comment.user.firstName%> <%= comment.user.lastName%></span>
                                              <span class=""><%= moment(comment.createdAt).fromNow()%></span>
                                            </div>
                                            <!-- Comment -->
                                            <div class="">
                                              <p><%=comment.comment%></p>
                                            </div>

                                            <!-- likes and dislike buttons -->
                                            <div class="row">
                                                <div class="col-2">
                                                  <a href="#">
                                                    <i class="fas fa-thumbs-up fa-lg faa-vertical" data-toggle="tooltip" data-placement="top" title="Do you agree?.">
                                                    </i>
                                                  </a>
                                                  <span class="votingText">
                                                    <%=comment.likes%>
                                                  </span>
                                                </div>

                                                <div class="col-2">
                                                  <a href="#">
                                                    <i class="far fa-thumbs-down fa-lg" data-toggle="tooltip" data-placement="top" title="Do you disagree?">
                                                    </i>
                                                  </a>
                                                  <span class="votingText">
                                                    <%=comment.dislikes%>
                                                  </span>
                                                </div>
                                                <!--Check if the comment is for the user-->
                                                <%
                                                  currentUserId = req.user.id;
                                                  commentUserId = comment.user.id
                                                %>
                                                <%if(currentUserId==commentUserId){%>
                                                  <div class="col-2">
                                                    <a href="#">
                                                        <i class="fas fa-edit text-primary" data-toggle="tooltip" data-placement="top" title="Edit this comment">
                                                        </i>
                                                    </a>
                                                  </div>
                                                  <div class="col-2">
                                                    <a href="#">
                                                      <i class="fas fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="Delete this comment">
                                                      </i>
                                                    </a>
                                                  </div>
                                                <%}%>
                                            </div>
                                        </div>
                                      </div>

                                </div>

                              <%})%>
                          <%}%>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <%- include ./partials/commentJavascript.ejs%>
  </body>
</html>
